version: "3.7"
services:
  viz:
    image: dockersamples/visualizer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 80:8080
    deploy:
      placement:
        constraints:
          - "node.role==manager"

