version: "3.7"
services:
  viz:
    image: dockersamples/visualizer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 80:8080
    deploy:
      placement:
        constraints:
          - "node.role==manager"

  api:
    image: ghcr.io/agmcc/csc8499/go-server
    ports:
      - 8080:8080
    environment:
      HOST: "{{.Node.Hostname}}"
    # Should deploy across amd64 + armv7
    deploy:
      replicas: 8
