apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: go-server-ingress
spec:
  rules:
  - http:
      paths:
      - path: /load
        pathType: Prefix
        backend:
          service:
            name: go-server-service
            port:
              number: 8080

