version: "3.8"
services:
  viz:
    image: dockersamples/visualizer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 80:8080
    deploy:
      placement:
        constraints:
          - "node.role==manager"

  go-server:
    image: ghcr.io/agmcc/csc8499/go-server
    hostname: go-server
    ports:
      - 8080:8080
    environment:
      HOST: "{{.Node.Hostname}}"
      DIFFICULTY: 4
    deploy:
      replicas: 2
      resources:
        reservations:
          cpus: '2'
          memory: 200M

  prometheus:
    image: prom/prometheus
    hostname: prometheus
    ports:
      - 9090:9090
    volumes:
      - ${PWD}/prometheus:/etc/prometheus:ro
      - prometheus-data:/prometheus

  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  prometheus-data:
  grafana-data:
