apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: monitoring
  labels:
    app: prometheus-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-server
  template:
    metadata:
      labels:
        app: prometheus-server
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
              readOnly: true
      tolerations:
        # Allow on master
        - key: node-role.kubernetes.io/master
          value: "true"
          effect: NoSchedule
      nodeSelector:
        kubernetes.io/hostname: instance-1
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-conf
        # TODO: Persistant volume to store prometheus data
