global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # TODO: Use Docker/k8s service discovery
  - job_name: 'go-server'
    dns_sd_configs:
    - names:
      - 'tasks.go-server'
      type: 'A'
      port: 8080
