apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-deployment
  namespace: monitoring
  labels:
    app: grafana-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana-server
  template:
    metadata:
      labels:
        app: grafana-server
    spec:
      containers:
        - name: grafana
          image: grafana/grafana
          env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: grafana-admin-secret
                  key: password
          volumeMounts:
            - name: grafana-datasource-prov-config
              mountPath: /etc/grafana/provisioning/datasources
              readOnly: true
            - name: grafana-dashboard-prov-config
              mountPath: /etc/grafana/provisioning/dashboards
              readOnly: true
            - name: grafana-dashboard-config
              mountPath: /var/lib/grafana/dashboards
              readOnly: true
      tolerations:
        # Allow on master
        - key: node-role.kubernetes.io/master
          value: "true"
          effect: NoSchedule
      nodeSelector:
        kubernetes.io/hostname: instance-1
      volumes:
        # TODO: Persistant volume for data
        - name: grafana-datasource-prov-config
          configMap:
            name: grafana-datasource-prov-conf
        - name: grafana-dashboard-prov-config
          configMap:
            name: grafana-dashboard-prov-conf
        - name: grafana-dashboard-config
          configMap:
            name: grafana-dashboard-conf
