apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: grafana-server
  ports:
    - protocol: TCP
      port: 3000
      nodePort: 31500
