apiVersion: v1
kind: Pod
metadata:
  name: go-server
  labels:
    app: go-server
spec:
  containers:
  - name: go-server
    image: ghcr.io/agmcc/csc8499/go-server
    env:
      - name: HOST
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: DIFFICULTY
        value: "${DIFFICULTY}"
    resources:
      limits:
        memory: "${MEMORY}"
        cpu: "${CPU}"
  imagePullSecrets:
    - name: ghcr
  nodeSelector:
    kubernetes.io/hostname: pilab-01
