apiVersion: v1
kind: ConfigMap
metadata:
  name: iot-scheduler-conf
  namespace: kube-system
data:
  scheduler-config.yml: |
    apiVersion: kubescheduler.config.k8s.io/v1beta1
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: false
    profiles:
      - schedulerName: iot-scheduler
        plugins:
          preScore:
            disabled:
            - name: "*"
            enabled:
            - name: "LatencyAware"
          score:
            disabled:
            - name: "*"
            enabled:
            - name: "LatencyAware"
