name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: go-server
          platforms: linux/amd64,linux/arm/v7
          push: true
          tags: |
            docker.pkg.github.com/${{github.actor}}/${{github.repository}}/go-server:${{github.sha}}
            docker.pkg.github.com/${{github.actor}}/${{github.repository}}/go-server:latest
