
name: python

on:
  push:
    branches:
      - 'main'
    paths:
      - 'load-test'

jobs:
  build:
    name: Verify Python load-test code
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python version
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Check formatting
      run: |
        black --check .
